GOOGLE_API_KEY = "sua chave de api"
DEEPSEEK_API_KEY="Sua chave de api deepseek aqui"
GITHUB_TOKEN = "token github"
GITHUB_SECRET=coloque-aqui-uma-string-aleatoria-qualquer
NGROK_AUTHTOKEN=coloque-aqui-seu-token-do-ngrok
LLM_PROVIDER= 
DEEPSEEK_API_KEY=sua_chave_aqui
